html{ font-size: 20px; }
html, body {
    position: relative;
    height: 100%;
}
*{margin:0; padding:0;}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color:#000;
	margin: 0;
	padding: 0;
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.swiper-container {
	width: 100%;
	height: 100%;
}
.swiper-container-v {
	background: #eee;
}

/** ----------------------------------------------------------------------------第一页------------------------------------------------------------------------------**/
.page1{
	background: url(./images/bg1.jpg) no-repeat;
	background-size:cover;
	text-align: center;
}
.logo{
	width:10.925rem;
	height:9.35rem;
	position: absolute;
	top:8%;
	left:50%;
	margin-left:-5.46rem;
	background: url(./images/logo437-374.png) no-repeat;
	background-size: 10.925rem 9.35rem;
	display: inline-block;
	transform:scale(0);
	opacity: 0;
	-webkit-filter:blur(100px);
	transition:3s all ease;
}
.titleP1{
	position: absolute;
	display: none;
}
.titleW {
	position: fixed;
	-webkit-transition:1.5s all ease;
}
.titleW , .titleP1{
	text-align: center;
	width:16rem;
	height:5rem;
	top:52%;
	left:50%;
	margin-left:-8rem;
	z-index: 1002;
	font-size: 1.2rem;
	color:#fff;
	line-height: 2.5rem;
}
.titleW span{
	opacity: 0; 
}
.titleW span.on{ 
	opacity: 1; 
}
.page1Top{
	width:1.625rem;
	height:2.15rem;
	background: url(./images/top65-86.png) no-repeat;
	background-size: 1.625rem 2.15rem;
	display: inline-block;
	transform: translateY(30px);
	position: absolute;
	bottom:5%;
	left:50%;
	margin-left:-0.813rem;
	margin-top:1.25rem;
	opacity: 0;
}
.addAni{
	-webkit-animation: pageOTop 1.5s infinite;
}

@-webkit-keyframes pageOTop{
	60%{
		transform: translateY(0px);
		opacity: 1;
	}
	100%{
		transform: translateY(0px);
		opacity: 0;
	}
}

/**-------------------------------------------------------------------------------- 第二页---------------------------------------------------------------------------------------**/
.page2{
	background: url(./images/bg2.jpg) no-repeat;
	background-size:cover;
	position: relative;
}
.page2Bg{
	width:0rem;
	height:12.85rem;
	background: url(./images/page2wall640-514.png) no-repeat;
	background-size: 16rem 12.85rem;
	position: absolute;
	bottom:0;
	left:0;
	transition: 6s all ease;
	-webkit-mask:-webkit-linear-gradient(left ,rgba(0,0,0,1) 70% , rgba(0,0,0,0) 100%);
}

.titleP2{
	position: absolute;
	text-align: center;
	width:16rem;
	top:1.5rem;
	font-size: 0.9rem;
	line-height: 1.25rem;
	left:50%;
	margin-left:-8rem;
	color:#fff;
	display: none;
}
.txtWall{
	position: absolute;
	top:22%;
	width:16rem;
	height:2.4rem;
	box-sizing:border-box;
	padding-left:0.775rem;
}
.txtWall .page2P1{
	display: inline-block;
	font-size:2.4rem;
	color:#fff; 
	opacity: 0;
	line-height: 2.4rem;
	transition: 1s all ease;
}
.txtWall .page2P2{
	display: inline-block;
	margin-left: 10px;
	font-size: 1.2rem;
	color:#fff;
	line-height: 1.2rem;
	vertical-align: bottom;
}
.txtWall .page2P2 span{
	opacity: 0; 
}
.txtWall .page2P2 span.on{ 
	opacity: 1; 
}
.txtBg{
	width:0rem;
	height:1.45rem;
	position: absolute;
	top:34.6%;
	margin-left: 1rem;
	background:url(./images/page2Txt.png) no-repeat;
	background-size: cover;
	transition: 1s all ease;
}
.page2 .text{
	position: absolute;
	width:14rem;
	margin-left:0.75rem;
	top:42%;
}
.page2 .text span{
	font-size: 0.85rem;
	color:#fff;
	line-height: 1.25rem;
	opacity: 0;
}
.p2ToL{
	width:6.35rem;
	height:2.85rem;
	background: url(./images/left254-114.png) no-repeat;
	background-size: cover;
	position: absolute;
	bottom:0;
	left:50%;
	margin-left: -3.175rem;
	opacity: 0;
}

/**-------------------------------------------------------------------------------------------------第三页------------------------------------------------------------------------**/
.page3{
	background: url(./images/bg3.jpg) no-repeat;
	background-size:cover;
	position: relative;
}
.page3Bg{
	width:0rem;
	height:11.925rem;
	background: url(./images/page3-640-477.png) no-repeat;
	background-size: 16rem 11.925rem;
	position: absolute;
	bottom:0;
	left:0;
	-webkit-transition:6s all ease; 
	-webkit-mask:-webkit-linear-gradient(left ,rgba(0,0,0,1) 70% , rgba(0,0,0,0) 100%);
}
.p3Tit{
	position: absolute;
	top:22.3%;
	width:14rem;
	margin-left:0.75rem;
	font-size: 2.4rem;
	line-height: 2.4rem;
	color: #fff;
	font-weight: normal;
	opacity: 0;
}
.p3TitEng{
	position: absolute;
	top:31.6%;
	width:14rem;
	margin-left:0.75rem;
	font-size: 1.25rem;
	color:#fff;
	line-height: 1.25rem;
}
.p3TitEng span{
	opacity: 0; 
}
.p3TitEng span.on{ 
	opacity: 1; 
}
.p3Verse{
	position: absolute;
	top:42.0%;
	width:14rem;
	color: #fff;
	margin-left: 0.75rem;
	font-size: 0.85rem;
	line-height: 1.25rem;
}
.p3Verse span{
	opacity: 0;
}
.p3M{
	position: absolute;
	top:52.8%;
	width:0rem;
	height:1.525rem;
	margin-left: 0.75rem;
	background:url(./images/p3m333-61.png) no-repeat;
	background-size: 8.325rem 1.525rem;
	-webkit-transition: 1.5s all ease;
}
.p3ToL{
	position: absolute;
	width:6.35rem;
	height:2.85rem;
	background: url(./images/left254-114.png) no-repeat;
	background-size: cover;
	bottom:0;
	left:50%;
	margin-left: -3.175rem;
	opacity: 0;
}

/**--------------------------------------------------------------------------------------------第四页--------------------------------------------------------------------**/
.page4{
	background: url(./images/bg4.jpg) no-repeat;
	background-size:cover;
	position: relative;
}
.page4Bg{
	width:0rem;
	height:14em;
	position: absolute;
	bottom:0;
	left:0;
	background: url(./images/page4-640-390.png) no-repeat;
	background-size: cover;
	-webkit-transition:6s all ease; 
	-webkit-mask:-webkit-linear-gradient(left ,rgba(0,0,0,1) 70% , rgba(0,0,0,0) 100%);
}
.p4Tit{
	position: absolute;
	top:22.3%;
	width:14rem;
	margin-left:0.75rem;
	font-size: 2.4rem;
	line-height: 2.4rem;
	color: #fff;
	font-weight: normal;
	opacity: 0;
}
.p4TitEng{
	position: absolute;
	top:31.6%;
	width:14rem;
	margin-left:0.75rem;
	font-size: 1.25rem;
	color:#fff;
	line-height: 1.25rem;
}
.p4TitEng span{
	opacity: 0; 
}
.p4TitEng span.on{ 
	opacity: 1; 
}
.p4Verse{
	position: absolute;
	top:44.08%;
	width:14rem;
	color: #fff;
	margin-left: 0.75rem;
	font-size: 0.85rem;
	line-height: 1.25rem;
}
.p4Verse span{
	opacity: 0;
}
.p4M{
	position: absolute;
	top:38.08%;
	width:0rem;
	height:1.45rem;
	margin-left: 0.75rem;
	background:url(./images/p4m456-58.png) no-repeat;
	background-size: 11.4rem 1.45rem;
	-webkit-transition: 1.5s all ease;
}
.p4ToL{
	position: absolute;
	width:6.35rem;
	height:2.85rem;
	background: url(./images/left254-114.png) no-repeat;
	background-size: cover;
	bottom:0;
	left:50%;
	margin-left: -3.175rem;
	opacity: 0;
}
.longTapBg{
	position: absolute;
	z-index: 30;
	width:20px;
	height:20px;
	border-radius: 50%;
	top:50%;
	left:50%;
	background: #fff;
	margin-top:-10px;
	margin-left: -10px;
	box-shadow: 0px 0px 30px 30px #fff;
	opacity: 0;
	-webkit-transition: 2s all ease;
	-webkit-transform:scale(0); 
}

/**--------------------------------------------------------------------------------------------第五页--------------------------------------------------------------------**/
.page5{
	background: #fff;
	position: relative;
}
.p5Bg1{
	width:100%;
	height:100%;
	background: url(./images/p5bg1-640-1032.png) no-repeat;
	background-size: cover;
	opacity:0;
}
.p5Bg2{
	position: absolute;
	bottom:0;
	left:0;
	width:16rem;
	height:8.575rem;
	background: url(./images/p5bg2-640-343.png) no-repeat;
	background-size: cover;
	z-index: 10;
	opacity: 0;
}
.p5Bg3{
	position: absolute;
	bottom:0;
	left:0;
	width: 16rem;
	height:6.85rem;
	background: url(./images/p5bg3-640-274.png) no-repeat;
	background-size: cover;
	z-index: 11;
	opacity: 0;
}
.p5Top{
	position: absolute;
	width:2.3rem;
	height:4.175rem;
	bottom:10px;
	left:50%;
	margin-left:-1.15rem;
	background: url(./images/p5-92-167.png) no-repeat;
	background-size: cover;
	z-index: 12;
	opacity: 0;
}
.p5txt{
	position: absolute;
	width:0.8rem;
	top:22.6%;
	left:50%;
	font-size: 0.85rem;
	font-weight: bold;
	line-height: 1rem;
	margin-left:-0.4rem;
}
.p5txt span{
	opacity: 0; 
}
.p5txt span.on{ 
	opacity: 1; 
}

/**--------------------------------------------------------------------------------------------第六页--------------------------------------------------------------------**/
.page6{
	position: relative;
}
.p6Bg1{
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	width:16rem;
	height:100%;
	background: url(./images/p6Bg-640-1049.png) no-repeat;
	background-size: cover;
	opacity: 1;
}
.p6Bg2{
	position: absolute;
	top:0;
	left:0;
	z-index: 11;
	width:16rem;
	height:15rem;
	background: url(./images/p6Bg2-640-600.png) no-repeat;
	background-size: cover;
	opacity: 0;
}
.p6Bg3{
	position: absolute;
	top:0;
	left:0;
	z-index: 12;
	width:16rem;
	height:15rem;
	background: url(./images/p6Bg3-640-600.png) no-repeat;
	background-size: cover;
	opacity: 0;
}
.p6Bg4{
	position: absolute;
	top:0;
	left:0;
	z-index: 13;
	width:16rem;
	height:6rem;
	background: url(./images/p6Bg4-640-240.png) no-repeat;
	background-size: cover;
	opacity: 0;
}
.p6L{
	position: absolute;
	z-index: 14;
	bottom:7%;
	left:50%;
	margin-left:-5.7rem;
	width:11.4rem;
	height:4.425rem;
	background: url(./images/p6L-456-177.png) no-repeat bottom;
	background-size: 50%;
	opacity: 0;
}
.p6txt{
	position: absolute;
	width:0.8rem;
	top:22.6%;
	left:50%;
	font-size: 0.85rem;
	font-weight: bold;
	line-height: 1rem;
	margin-left:-0.4rem;
	color: #fff;
	z-index: 15;
}
.p6txt span{
	color:rgba(0,0,0,0); 
	opacity: 0; 
}
.p6txt span.on{ 
	opacity: 1; 
	color:rgba(255,255,255,1); 
}

/**--------------------------------------------------------------------------------------------第七页--------------------------------------------------------------------**/
.page7{
	position: relative;
	background:url(./images/p7Bg-640-1032.png) no-repeat;
	background-size: cover;
}
.p7Bg1{
	position: absolute;
	z-index: 10;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background:url(./images/p7Bg1-640-1032.png) no-repeat;
	background-size: cover;
}
.p7Bg2{
	position: absolute;
	z-index: 11;
	bottom:0;
	left:0;
	width:100%;
	height:12.075rem;
	background:url(./images/p7Bg2-640-483.png) no-repeat;
	background-size: cover;
}
.p7Bg3{
	position: absolute;
	z-index: 12;
	bottom:0;
	left:0;
	width:100%;
	height:13.925rem;
	background:url(./images/p7Bg3-640-557.png) no-repeat;
	background-size: cover;
}
.p7Bg4{
	position: absolute;
	z-index: 13;
	bottom:0;
	left:0;
	width:100%;
	height:12.075rem;
	background:url(./images/p7Bg4-640-390.png) no-repeat;
	background-size: cover;
}
.p7Bg5{
	position: absolute;
	z-index: 14;
	bottom:0;
	left:0;
	width:100%;
	height:14rem;
	background:url(./images/p7Bg5-640-560.png) no-repeat;
	background-size: cover;
}
.p7Bg6{
	position: absolute;
	z-index: 15;
	bottom:0;
	left:0;
	width: 100%;
	height:12.075rem;
	background:url(./images/p7Bg6-637-487.png) no-repeat;
	background-size: cover;
}
.p7Bg7{
	position: absolute;
	z-index: 16;
	bottom:0;
	left:0;
	width:100%;
	height:15.5rem;
	background:url(./images/p7Bg7-640-620.png) no-repeat;
	background-size: cover;
}
.p7tit , .p8tit , .p9tit, .p10tit , .p11tit{
	position: absolute;
	z-index: 17;
	top:14%;
	left:1.25rem;
	width:14.5rem;
	font-size: 1.5rem;
	line-height: 1.9rem;
	color:#000;
	font-weight: bold;
}
.p7det , .p8det, .p9det , .p10det , .p11det{
	position: absolute;
	z-index: 17;
	top:30.6%;
	left:1.25rem;
	width:14.5rem;
	font-size: 0.85rem;
	line-height: 1.25rem;
	color:#fff;
}
.p7det span ,.p8det span, .p9det span ,.p10det span ,.p11det span {
	color: red;
}

/**--------------------------------------------------------------------------------------------第八页--------------------------------------------------------------------**/
.page8{
	position: relative;
	background:url(./images/p8Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p8Bg1{
	position: absolute;
	z-index: 10;
	top:0;
	left:0;
	width: 100%;
	height:100%;
	background:url(./images/p8Bg1-640-1032.png) no-repeat;
	background-size: cover;
}
.p8Bg2{
	position: absolute;
	z-index: 11;
	bottom:9.6%;
	left:0;
	width:15.575rem;
	height:8.225rem;
	background:url(./images/p8Bg2-623-329.png) no-repeat;
	background-size: cover;
}
.p8Bg3{
	position: absolute;
	z-index: 12;
	bottom:0;
	left:0;
	width:100%;
	height:20.5rem;
	background:url(./images/p8Bg3-640-820.png) no-repeat;
	background-size: cover;
}
.p8Bg4{
	position: absolute;
	z-index: 13;
	bottom:0;
	left:0;
	width:100%;
	height:13.75rem;
	background:url(./images/p8Bg4-640-550.png) no-repeat;
	background-size: cover;
}
.p8Bg5{
	position: absolute;
	z-index: 14;
	bottom:0.35rem;
	left:0;
	width:100%;
	height:12.4rem;
	background:url(./images/p8Bg5-640-496.png) no-repeat;
	background-size: cover;
}
.p8Bg6{
	position: absolute;
	z-index: 15;
	bottom:0;
	left:0;
	width: 100%;
	height:13.3rem;
	background:url(./images/p8Bg6-640-532.png) no-repeat;
	background-size: cover;
}
.p8Bg7{
	position: absolute;
	z-index: 16;
	bottom:0;
	left:0;
	width: 100%;
	height:10.425rem;
	background:url(./images/p8Bg7-640-417.png) no-repeat;
	background-size: cover;
}


/**--------------------------------------------------------------------------------------------第九页--------------------------------------------------------------------**/
.page9{
	position: relative;
	background:url(./images/p9Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p9Bg1{
	position: absolute;
	z-index: 10;
	bottom:0;
	left:0;
	width: 100%;
	height:15rem;
	background:url(./images/p9Bg1-640-600.png) no-repeat;
	background-size: cover;
}
.p9Bg7{
	position: absolute;
	z-index: 16;
	bottom:0;
	left:0;
	width:100%;
	height:10.3rem;
	background:url(./images/p9Bg7-640-412.png) no-repeat;
	background-size: cover;
}

/**--------------------------------------------------------------------------------------------第十页--------------------------------------------------------------------**/
.page10{
	position: relative;
	background:url(./images/p10Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p10Bg1{
	position: absolute;
	z-index: 10;
	bottom:0;
	left:0;
	width: 100%;
	height:18.75rem;
	background:url(./images/p10Bg1-640-750.png) no-repeat;
	background-size: cover;
}
.p10Bg7{
	position: absolute;
	z-index: 16;
	bottom:7%;
	right:0;
	width:5rem;
	height:12.5rem;
	background:url(./images/p10Bg7-200-500.png) no-repeat;
	background-size: cover;
}
.p10tit{
	top:22%;
}

/**--------------------------------------------------------------------------------------------第十一页--------------------------------------------------------------------**/
.page11{
	position: relative;
	background:url(./images/p11Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p11Bg1{
	position: absolute;
	z-index: 10;
	bottom:0;
	left:0;
	width: 100%;
	height:100%;
	background:url(./images/p11Bg1-640-1032.png) no-repeat;
	background-size: cover;
}
.p11Bg2{
	position: absolute;
	z-index: 11;
	bottom:0;
	left:0;
	width: 100%;
	height:12.5rem;
	background:url(./images/p11Bg2-640-500.png) no-repeat;
	background-size: cover;
}
.p11Bg3{
	position: absolute;
	z-index: 12;
	bottom:0;
	left:0;
	width: 100%;
	height:20rem;
	background:url(./images/p11Bg3-640-800.png) no-repeat;
	background-size: cover;
}
.p11Bg4{
	position: absolute;
	z-index: 13;
	bottom:0;
	left:0;
	width: 100%;
	height:17rem;
	background:url(./images/p11Bg4-640-680.png) no-repeat;
	background-size: cover;
}
.p11Bg5{
	position: absolute;
	z-index: 14;
	bottom:0;
	right:0;
	width:100%;
	height:21.25rem;
	background:url(./images/p11Bg5-640-850.png) no-repeat;
	background-size: cover;
}

/**--------------------------------------------------------------------------------------------第十二页--------------------------------------------------------------------**/
.page12{
	position: relative;
	background: url(./images/p12Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p12Bg1{
	position: absolute;
	top:0;
	left:0;
	z-index: 10;
	width:100%;
	height:100%;
	transform: translate3d(-16rem, -57%, 0);
	-webkit-transform:translate3d(-16rem, -57%, 0);
	background: url(./images/p12Bg1-640-1032.png) no-repeat;
	background-size: cover;
}
.p12Bg2{
	position: absolute;
	top:0;
	left:0;
	z-index: 13;
	width:100%;
	height:19rem;
	/*
	transform: scale(1);
	opacity:1;
	*/
	transform: scale(0);
	-webkit-transform:scale(0);
	opacity: 0;
	background: url(./images/p12Bg2-640-760.png);
	background-size: cover;
}
.p12Bg3{
	position: absolute;
	top:0;
	left:0;
	z-index: 14;
	width:100%;
	height:15rem;
	opacity: 0;
	background: url(./images/p12Bg3-640-600.png) no-repeat;
	background-size: cover;
}
.p12txt{
	position: absolute;
	top:50%;
	left:0;
	margin-top:-5rem;
	z-index: 15;
	width:100%;
	height:0;
	overflow: hidden;
	/*height: 10rem;*/
	color:#fff;
	opacity: 1;
	font-size: 1.25rem;
	line-height: 2.5rem;
	text-align: center;
}

/**--------------------------------------------------------------------------------------------第十三页--------------------------------------------------------------------**/
.page13{
	position: relative;
	background: url(./images/p13Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p13Bg1{
	position: absolute;
	background: url(./images/p13Bg1-400-314-b0r0.png) no-repeat;
	background-size: cover;
	bottom:0;
	right:0;
	width:10rem;
	height:7.85rem;
	transform: scale(0);
	-webkit-transform:scale(0);
}
.p13Bg2{
	position: absolute;
	background: url(./images/p13Bg2-340-340-t505l0.png) no-repeat;
	background-size: cover;
	top:49%;
	left:0;
	width:8.5rem;
	height:8.5rem;
	transform: scale(0);
	-webkit-transform:scale(0);
}
.p13Bg3{
	position: absolute;
	background: url(./images/p13Bg3-500-400-t0l0.png) no-repeat;
	background-size: cover;
	top:0;
	left:0;
	width:12.5rem;
	height:10rem;
	transform: scale(0);
	-webkit-transform:scale(0);
}
.p13Bg4{
	position: absolute;
	background: url(./images/p13Bg4-560-252-t306r0.png) no-repeat;
	background-size: cover;
	top:29.7%;
	right:0;
	width:14rem;
	height:6.3rem;
	transform: scale(0);
	-webkit-transform:scale(0);
}
.p13Bg5{
	position: absolute;
	background: url(./images/p13Bg5-420-400-t417r0.png) no-repeat;
	background-size: cover;
	top:40.4%;
	right:0;
	width:10.5rem;
	height:10rem;
	transform: scale(0);
	-webkit-transform:scale(0);
}
.p13Bg6{
	position: absolute;
	background: url(./images/p13Bg6-460-500-t413l0.png) no-repeat;
	background-size: cover;
	top:40%;
	left:0;
	z-index: 10;
	width:11.5rem;
	height:12.5rem;
	opacity: 0;
}
.p13Bg7{
	position: absolute;
	background: url(./images/p13Bg7-180-370-t240l150.png) no-repeat;
	background-size: 4.5rem 9.25rem;
	top:23.2%;
	left:14.5%;
	z-index: 11;
	width:4.5rem;
	height:0;
	opacity: 0;
	/*height:9.25rem*/
}
.p13txt1, .p13txt2{
	position: absolute;
	z-index: 11;
	width:1rem;
	height:12.5rem;
	color:#fff;
	font-size: 1rem;
	line-height: 1.25rem;
}
.p13txt1{
	top:15.5%;
	left:9.7rem;
}
.p13txt2{
	top:22.77%;
	left:8.215rem;
}
.p13txt1 span, .p13txt2 span{
	color:rgba(0,0,0,0); 
	opacity: 0; 
}
.p13txt1 span.on, .p13txt2 span.on{ 
	opacity: 1; 
	color:rgba(255,255,255,1); 
}
.longTapBg2{
	position: absolute;
	z-index: 30;
	width:20px;
	height:20px;
	border-radius: 50%;
	top:23.2%;
	left:14.5%;
	background: #fff;
	margin-top:-10px;
	margin-left: -10px;
	box-shadow: 0px 0px 30px 30px #fff;
	opacity: 0;
	-webkit-transition: 2s all ease;
	-webkit-transform:scale(0); 
}
/**--------------------------------------------------------------------------------------------第十四页--------------------------------------------------------------------**/
.page14{
	position:relative;
	background: url(./images/p14Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p14Bg1{
	position: absolute;
	background: url(./images/p14Bg1txt-480-375-t168l54.png) no-repeat;
	background-size:12rem 9.375rem;
	width:12rem;
	/*height:9.375rem;*/
	top:16.3%;
	left:1.35rem;
	opacity: 0;
	height:0;
}
.p14Bg2{
	position: absolute;
	background: url(./images/p14Bg2txt-260-36-t543l274.png) no-repeat;
	background-size:6.5rem 0.9rem;
	width:0;
	/*width:6.5rem*/
	opacity: 0;
	height:0.9rem;
	top:57%;
	left:6.85rem;
}
.p14Bg3{
	position: absolute;
	background: url(./images/p14Bg3cctv-188-40-t824.png) no-repeat;
	background-size: cover;
	width:4.7rem;
	height:1rem;
	top:79.8%;
	left:50%;
	margin-left:-2.35rem;
	opacity: 0;
	transform:translate3d(-16rem, 0, 0);
	-webkit-transform:translate3d(-16rem, 0, 0);
}
.p14txt{
	position: absolute;
	width:100%;
	height:1.25rem;
	top:84.8%;
	left:0;
	font-size: 0.85rem;
	line-height: 1.25rem;
	color:red;
	text-align: center;
	opacity: 0;
	transform:translate3d(0, 2rem, 0);
	-webkit-transform:translate3d(0, 2rem, 0);
}


/**--------------------------------------------------------------------------------------------第十五页--------------------------------------------------------------------**/
.page15{
	position: relative;
	background: url(./images/p14Bg640-1032.png) no-repeat;
	background-size: cover;
}
.p15Bg1{
	position: absolute;
	background: url(./images/p14Bg3cctv-188-40-t824.png) no-repeat;
	background-size: cover;
	width:4.7rem;
	height:1rem;
	top:42%;
	left:50%;
	margin-left:-2.35rem;
}









