
@font-face {font-family: 'webfont';
  src: url('//at.alicdn.com/t/z5iir69yz3x9wwmi.eot'); /* IE9*/
  src: url('//at.alicdn.com/t/z5iir69yz3x9wwmi.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('//at.alicdn.com/t/z5iir69yz3x9wwmi.woff') format('woff'), /* chrome、firefox */
  url('//at.alicdn.com/t/z5iir69yz3x9wwmi.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('//at.alicdn.com/t/z5iir69yz3x9wwmi.svg#思源黑体-正粗') format('svg'); /* iOS 4.1- */
}


*{
	padding:0;
	margin:0;
	list-style: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);	
	font-weight: bold;
	font-family:"webfont";
}
body{
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}
body, html{
	width:100%;
	height:100%;
	overflow: hidden;
}
a{text-decoration:none;}
input,textarea{outline:none;resize:none;}
img{vertical-align:top;border:0;}
table{border-collapse:collapse;}

.clearfix:after{
	content:""; 
	display: block; 
	clear: both;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
body{
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


/*---------load--------*/
.load{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background: rgba(0, 0, 0, 1);
	z-index: 500;
}
.loadBar{
	text-align: center;
	width:12rem;
	height:4px;
	position: absolute;
	top:50%;
	margin-top:-2px;
	left:50%;
	margin-left: -6rem;
}
.loadBar span{
	width:100%;
	position: absolute;
	left:0;
	top:-3rem;
	color:#fff;
	font-size: 1.5rem;
}
.loadBar i{
	position: absolute;
	top:0;
	left:0;
	width:0%;
	height:100%;
	background: #fff;
}


/*--------main--------*/
.mainBg{
	width:100%;
	height: 100%;
	/*
	background: url(../images/bg-640-1040.jpg) no-repeat center;
	*/
	background-repeat: no-repeat;
	background-size: cover;
	height:100%;
	padding-top: 10%;
	box-sizing:border-box;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	z-index: 400;
	-webkit-transition: .5s all ease;
	transition: .5s all ease;
}
.getOut{
	-webkit-transform: translate3d(-16rem, 0rem, 0rem);
	transform: translate3d(-16rem, 0rem, 0rem);
}
#mainTitle{
	/*
	background: url(../images/title-484-308.png) no-repeat center;
	*/
	background-repeat: no-repeat;
	background-size:cover;
	width:12rem;
	height:7.7rem;
	position: absolute;
	margin-left: 50%;
	top:2.45rem;
	left:-6rem;
	-webkit-transform: translate3d(0px, -300px, 0px);
	transform: translate3d(0px, -300px, 0px);
}

#people1{
	/*
	background:url(../images/people1-274-200.png) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size: cover;
	width:6.85rem;
	height:5rem;
	position: absolute;
	top: 51%;
	left:4.75rem;
	-webkit-transform: translate3d(-300px, 0px, 0px);
	transform: translate3d(-300px, 0px, 0px);
}
#people2{
	/*
	background:url(../images/people2-216-226.png) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size: cover;
	width:5.4rem;
	height:5.65rem;
	position: absolute;
	top: 54%;
	left:1.85rem;
	-webkit-transform: translate3d(-300px, 0px, 0px);
	transform: translate3d(-300px, 0px, 0px);
}
#people3{
	/*
	background:url(../images/people3-192-206.png) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size: cover;
	width:4.8rem;
	height:5.15rem;
	position: absolute;
	top: 54%;
	right:1.6rem;
	-webkit-transform: translate3d(300px, 0px, 0px);
	transform: translate3d(300px, 0px, 0px);
}
#people4{
	/*
	background:url(../images/people4-218-346.png) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size: cover;
	width:5.45rem;
	height:8.65rem;
	margin-left: 50%;
	position: absolute;
	top: 42%;
	left:-2.6rem;
	-webkit-transform: translate3d(300px, 0px, 0px);
	transform: translate3d(300px, 0px, 0px);
}
#but{
	display:block;
	color: #a82020;
	width: 8.65rem;
	height:2.4rem;
	margin-left: 50%;
	line-height: 2.4rem;
	font-size:1rem;
	font-weight:bold;
	border: 4px solid #a82020;
	border-radius:10px;
	background:#fff;
	position:absolute;
	text-align: center;
	bottom:6%;
	left:-4.32rem;
	-webkit-transform: translate3d(0px, 300px, 0px);
	transform: translate3d(0px, 300px, 0px);
}
#open{
	/*
	background: url(../images/open-96-86.png) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size: cover;
	width:2.4rem;
	height:2.15rem;
	display: block;
	position: absolute;
	top: -0.4rem;
	right: -1.6rem;
}


/*---------content---------*/
.contBg{
	width:100%;
	height:100%;
	/*
	background:url(../images/bg2.jpg) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size:100% 100%;
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	opacity: 0;
	z-index: 300;
	-webkit-transition: 1s all ease;
	transition: 1s all ease;
}
.conTop{
	position: absolute;
	top:4%;
	left:50%;
	margin-left: -2.75rem;
	width:5.5rem;
	height:1.86rem;
}
.contDi{
	width:1.85rem;
	height:1.85rem;
	/*
	background:url(../images/di-74-74.jpg) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size:cover;
	position:absolute;
	top:0;
	left:0;
}
.contNum{
	width:1.85rem;
	height:1.85rem;
	/*
	background:url(../images/two-74-74.jpg) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size:cover;
	position:absolute;
	top:0;
	left:1.85rem;
	margin-left:-1px;
	overflow: hidden;
}
.contNum .tNum{
	-webkit-transform: translate3d(0rem, 0rem, 0rem);
	transform: translate3d(0rem, 0rem, 0rem);
	position: absolute;
	top:0;
	left:0;
	width: 1.85rem;
	height:16.65rem;
	-webkit-transition: 1s all ease;
	transition: 1s all ease;
}
.contNum .tNum li{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height:1.85rem;
}
.contTi{
	width:1.85rem;
	height:1.85rem;
	/*
	background:url(../images/ti-74-74.jpg) no-repeat;
	*/
	background-repeat: no-repeat;
	background-size:cover;
	position:absolute;
	top: 0;
	left:3.7rem;
	margin-left:-2px;
}
#bookBg{
	width:15rem;
	height:16.15rem;
	background:#1e2222;
	position:absolute;
	top:22%;
	right:0;
	border-radius: 10px 0 0 10px;
	/*
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	*/
	z-index: 1 ;
}
.t1{
	position: absolute;
	box-sizing:border-box;
	width:12.85rem;
	height:14.75rem;
	top:4%;
	left:0.6rem;
	background: #f3f2f4;
	-webkit-transform-origin: right;
	transform-origin: right;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform:perspective(1200px) rotateY(100deg);
	transform:perspective(1200px) rotateY(100deg);
	-webkit-transition:1s all ease;
	transition:1s all ease;
}
#bookBg .t1.active {
	-webkit-transform:perspective(1200px) rotateY(0deg);
	transform:perspective(1200px) rotateY(0deg);
}
.back, .front{
	position:absolute;
	box-sizing:border-box;
	width:12.85rem;
	height:14.75rem;
	background: #fff;
	top:0;
	left:0;
}
.front{
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.bookS{
	width:100%;
	height:100%;
	position: absolute;
	top:0;
	left:0;
	background:#f3f2f4;
	z-index:1;
	box-sizing:border-box;
	padding-right: 3px;
	padding:0.8rem  0 0 0.8rem;
	border-left:0.2rem solid #c9bed1;
	border-right:0.15rem solid #c9bed1;
	color:#8e3030;
}
.bookTitle{
	font-size: 0.85rem;
	line-height: 1rem;
	margin-bottom:0.8rem;
}
.bookTitle span{
	width:1.25rem;
	
}
.bookTitle h3{
	width:10rem;
	font-size: 0.85rem;
}
.bookS dd {
	margin-left: 3px;
	height:1.6rem;
	overflow: hidden;
	font-size: 0.65rem;
	line-height: 0.8rem;
	margin-bottom:0.5rem;
	padding-left:0.8rem;
	padding-right: 0.8rem;
	background:url(../images/dian1-24-24.png) ;
	background-size:0.6rem 0.6rem;
	background-repeat: no-repeat;
	background-position: left 2px;
}
.bookS dd.active{
	background:url(../images/dian-24-24.png) ;
	background-size: 0.6rem 0.6rem;
	background-repeat: no-repeat;
	background-position: left 2px;
}
